body, *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container
{
    height: 80vh;
}

.form-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(184, 18, 18, 0.7);
}

form
{
    height: 50vh;
}

button
{
    width: 25vh;
    height: 30px;
}

a
{
    margin-left: 19vh;
    font-size: 20px;
}

h1
{
    font-size: 50px;
}

i
{
    position: relative;
    left: 50vh;
    bottom: 50px;
}

.btn-primary {
    transition: transform 0.2s ease;
}

.btn-primary:hover {
    transform: scale(1.05);
}

